body{
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; /* Professional background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style for the login container */
.Login {
    background-color: #e7ebea;
    border: 1px solid #ccc; /* Add a border */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 300px;
}

/* Style for the login form elements */
form {
    margin-top: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Center the login heading */
h1.text-center-1 {
    margin: 0;
}

/* Add some spacing */
br {
    margin: 10px 0;
}
